<h1>Informacje o stronie</h1>
<p>
AdDash to na razie aplikacja tworzona podczas nauki frameworku Ruby on
Rails. W przyszłości będzie to jeden z największych portali stworzonych dla reklamodawców.
</p>
